{% extends "base.html" %}

{% block title %}Hakkımızda - Irmak Su Arıtma{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Hakkımızda</h1>
                    <div class="about-content">
                        <p class="lead mb-4">Irmak Su Arıtma olarak, 20 yılı aşkın tecrübemizle müşterilerimize en kaliteli su arıtma çözümlerini sunuyoruz.</p>
                        
                        <h5 class="mb-3">Misyonumuz</h5>
                        <p>Müşterilerimize en kaliteli su arıtma sistemlerini sunarak, sağlıklı ve temiz suya erişimlerini sağlamak.</p>
                        
                        <h5 class="mb-3">Vizyonumuz</h5>
                        <p>Türkiye'nin her yerinde güvenilir ve kaliteli su arıtma hizmeti sunan öncü firma olmak.</p>
                        
                        <h5 class="mb-3">Değerlerimiz</h5>
                        <ul>
                            <li>Müşteri memnuniyeti</li>
                            <li>Kaliteli hizmet</li>
                            <li>Güvenilirlik</li>
                            <li>Profesyonellik</li>
                            <li>Yenilikçilik</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 